@import 'normalize';
@import 'fonts';


* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  height: 100%;
}
a,a:focus,a:active,a:visited {
  color: #042E90;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: lighten(#042E90, 30%) !important;
}
a.visited {
  color: #9E9E9E;
  transition: color 0.3s ease-in-out;
}
a.active {
  color: lighten(#042E90, 30%);
}
h1,h2,h3,h4,h5 {
  font-family: "Raleway",sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
}
#page-main {
  height: 100vh;
  #page-wrapper {
    padding:0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content:stretch;
  }
  #page-content {
    display: flex;
    height: 95%;
    overflow: hidden;
    .right {
      width: 70%;
      min-width: 745px;
      padding: 20px 0 0 20px;
      @media screen and (max-width:1100px) {
        display:none;
      }
      .gdpr-title {
        height: 10%;
        text-align: center;
      }
      .border {
        width: 100%;
        height: 90%;
        display: inline-block;
        border:1px solid #e0e0e0;
        iframe {
          width: 100%;
          height: 100%;
          border:none;
        }
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 20px 20px 0 0;
      @media screen and (max-width:1100px) {
        width: 100%;
        padding: 20px 0 0;
      }
      > div {
        margin-bottom: 20px;
      }
      .gdpr-title {
        @media screen and (min-width:1100px) {
          display: none;
        }
        h1 {
          font-size: 1.5rem;  
        }
      }
      #gdpr-lang {
        select {
          width: 100%;
        }
      }
      #gdpr-toc {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 0;
        .content {
          ul {
            padding: 0 0 0 25px;
            margin: 0;
            ul {
              padding: 10px 0 0 25px;
            }
          }
          li {
            margin-bottom: 10px;
          }
          > ul {
            padding-right: 10px;
            > li {
              > a {
                font-weight: 700;
                background-color: #ffe600;
              }
            }
          }
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }
    }
  }
  #page-footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-top:2px solid #f8ca01;
    .brainsum-loves-gdpr {
      .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        &.heart {
          margin: 0 5px;
        }
      }
    }
  }
}